<div class="container">
  <div class="row">
    <h1>A cerca de heroes APP</h1>
  </div>
  <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo repudiandae eum nulla tempora. Excepturi necessitatibus inventore, sed ut qui ratione, cum reprehenderit consequuntur suscipit ab voluptatum. Nihil at voluptates illo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur minus blanditiis cum perferendis, aut sequi voluptatem officia adipisci odit fugiat nam quam dolores deleniti maiores possimus nostrum ratione quisquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam rerum totam laborum, molestiae cum magni alias voluptatem ex, obcaecati velit suscipit temporibus aut quo. Assumenda facilis mollitia ut. Magni.
      </p>
  </div>
</div>